@moreDarkGrey:               #868888;
@green:                      #91CC41;
@red:                        #F74687;
@red-text:                   #F74687;
@red-background:             #FF7CAD;
@blue-text:                  #0083e8;
@dark-blue-text:             #6bbeff;
@orange:                     #E3B551;
@orange-text:                #e27100;
@dark-orange-text:           #ff9d2a;
@grey-text:                  #333333;  
@dark-grey-text:             #c8c8c8;  
